node_modules
.next
out
build
.git
.gitignore
.dockerignore
README.md
Dockerfile
.vscode
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
